.nav{
    position: relative;
    width: 1280px;
    height: 72px;
    background-color: aliceblue;
}

.right-nav{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 14px;
position: absolute;
width: 182px;
height: 40px;
right: 120px;
top: calc(50% - 40px/2);
}

.btn-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    height: 40px;
    background: #fdfbff;
    border-radius: 6px;
    order: 0;
    flex-grow: 0; 
    border: none;
    text-align: center;
    color: rgb(95 158 160);
    cursor: pointer;
}

.btn-nav:hover{
    background: teal;
    color: rgb(253, 253, 253);
    transition: .5s ease-in-out;
}

.icon{
    display: flex;
    position: absolute;
    left: 120px;
    top: 7px;
    color: cadetblue;
    background: white;
    width: 30px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.logo-nav{
    position: absolute;
    width: 190px;
    height: 67px;
    left: calc(50% - 105px/2 - 0.5px);
    top: calc(50% - 65px/2);
}

.img-nav{
    width: 90px;
    margin-top: -5px;
    margin-left: -85px;
    animation: fadeInUp 1500ms both
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.hoy{
    position: absolute;
    left: -1.57%;
    right: 0.11%;
    top: 30.29%;
    bottom: 10.68%;
    color: cadetblue;
    animation: bounce 1800ms both
}

@keyframes bounce {

    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}